@font-face {
    font-family: 'Nunito';
    src: url(./fonts/ofont.ru_Nunito.ttf);
}
@font-face {
    font-family: 'Dealer';
    src: url(./fonts/ofont.ru_Dealerplate.ttf);
}
@font-face {
    font-family: 'Sri';
    src: url(./fonts/ofont.ru_Sriracha.ttf);
}